.calendar {
    width: 70%;

    .title {
        padding: 0 10px;
        margin: 0 20px 0 0;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: left;
        font-size: 26px;
        font-weight: 900;

        .month {
            color: #333333;
        }

        .year {
            margin: 0 8px;
            color: #4DB6AC;
        }
    }

    .header {
        height: 7%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 10px;
        margin: 0 20px 0 0;
        font-weight: 900;

        .header-item {
            width: calc(100% / 7);
            text-align: center;
        }
        .sun {
            color: #FF5252;
        }

        .sat {
            color: #536DFE;
        }
    }

    .body {
        height: 60%;
        padding: 0 10px;
        margin: 0 20px 0 0;

        .row {
            width: 100%;
            height: calc(100% / 5);
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: center;

            .row-data {
                width: calc(100% / 7);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;

                .date {
                    font-weight:900;
                    width: 20%; height: 20%;
                    border-bottom: 3px solid #009688;
                }

                .expense {
                    padding-top: 8px;
                    font-size: 16;
                }
            }
        }
    }
}